body{
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: palevioletred;
    padding: 16px;
}

.logo{
    color: white;
    font-weight: 900;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
 
ul{
list-style-type: none;
display: flex;
margin: 0 60px;
padding: 0;
gap: 16px;
}

.item{
background: pink;
display: flex;
padding: 48px;
height: 300px;
gap: 16px;
}

.header1{
color: white;
font-weight: 900;
font-size: 22px;
display: flex;


}

.button{
padding: 8px 16px;
border-radius: 8px;
background: palevioletred;
border: 1px solid palevioletred;
color: white;
display: flex;

}

.text {
    margin-bottom: 16px;
  }





































